.links-styles {
  text-decoration: none !important;
  color: #576f72 !important;
  margin: auto 8px !important;
  font-weight: bold !important;
}

.social-icons {
  transition: 0.3s !important;
  &:hover {
    color: #70b0f2 !important;
  }
}
