.scroll-downs {
    width: 34px;
    height: 34px;

    .mousey {
        width: 3px;
        padding: 8px 12px;
        height: 30px;
        border: 2px solid #576F72;
        border-radius: 25px;
        opacity: 0.75;
        box-sizing: content-box;

        .scroller {
            width: 3px;
            height: 10px;
            border-radius: 25%;
            background-color: #576F72;
            animation-name: scroll;
            animation-duration: 1.5s;
            animation-timing-function: cubic-bezier(.15, .41, .69, .94);
            animation-iteration-count: infinite;

            @keyframes scroll {
                0% {
                    opacity: 0;
                }
                10% {
                    transform: translateY(0);
                    opacity: 1;
                }
                100% {
                    transform: translateY(15px);
                    opacity: 0;
                }
            }
        }
    }
}

.mlink2{
    display: none;
}

@media (min-width: 600px) {
    .mlink2{
        display: block;
    }
    .mlink1{
        display: none;
    }
}